<div>
  <% if @player1 %>
  Hello <%= @player1.name %>!
  <% else %>
  <form action='/new_game' method="post">
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="Start">
  </form>
  <% end %>
</div>
