<div>
  <% if @player %>
  Hello <%= @player %>!
  <% else %>
  <form action='/start_game' method="post">
    What's your name?
    <input type="text" name="name">
    <input type="submit" value="Start">
  </form>
  <% end %>
</div>
